# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
venv311/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Models
*.h5
*.pth
*.pt

# Datasets

dataset/

# VS Code
.vscode/

# Mac
.DS_Store

node_modules